[submodule "mini_project/FizzBuzz"]
	path = mini_project/FizzBuzz
	url = https://github.com/AliGhanizade/FizzBuzz.git
[submodule "mini_project/Palindrome"]
	path = mini_project/Palindrome
	url = https://github.com/AliGhanizade/Palindrome.git
